/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f1e4;
}

h1,
h2,
h3 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
